@import 'preact-material-components/TopAppBar/style.css';
@import 'preact-material-components/List/style.css';
@import 'preact-material-components/FormField/style.css';
@import 'preact-material-components/TextField/style.css';

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
    width: 100vw;
}

.settings-page {
    padding: 1rem;
}

.mdc-text-field--outlined {
    width: 100% !important;
}

.mdc-text-field--outlined > input {
    width: 100% !important;
}
