@import 'preact-material-components/List/style.css';
@import 'preact-material-components/FormField/style.css';
@import 'preact-material-components/TextField/style.css';
@import 'preact-material-components/Fab/style.css';

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.settings-page {
    padding: 1rem;
    position: relative;
    flex-grow: 1;
}

.fab-save {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.mdc-text-field--outlined {
    width: 100% !important;
}

.mdc-text-field--outlined > input {
    width: 100% !important;
}

.navbar {
    font-family: Roboto, sans-serif;
    color: #fff;
    background-color: #6200ee;
    padding: 1.5rem;
}

.navbar > h3 {
    font-weight: normal;
}
